:root {
  --primary-color: rgb(15, 15, 53);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

i {
  font-size: 1rem;
  display: inline-block;
  width: 1rem;
}

i > img {
  min-width: 1rem;
}

.theme-color {
  color: var(--primary-color);
}

.details-item > span {
  font-size: 1rem;
}

.img-container {
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.purchased {
  position: absolute;
  background: rgb(15, 15, 53);
  display: inline-block;
  font-size: x-small;
  color: #eee;
  margin-bottom: -5rem;
  padding: 0.25rem 1rem;
  border-bottom-right-radius: 0.425rem;
  overflow: hidden;
}

.cost-item, .cost-id {
  font-size: 0.875rem;
}

.main-title {
  color: rgb(15, 15, 53);
}

.aditional-module {
  font-size: 0.80rem;
  font-weight: 600;
}

.info-title {
  font-size: 1rem;
  font-weight: 800;
  color: rgb(15, 15, 53);
}

.list-item {
  font-size: 1rem;
  padding-left: 0.85rem;
}

.plan-price-text {
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 0;
}

.plan-price-amount {
  margin-top: 0.5rem;
  color: rgb(15, 15, 53);
}

.btn-start {
  color: #eee;
  background: rgb(15, 15, 53);
  border: 0.5px solid rgb(15, 15, 53);
}

@media screen and (min-width: 768px) {
  div.root {
    margin: 0 auto;
  }
}
